<section class="slideshow">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="categories">
      <div class="row">
          <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/catkids.jpg" class="card-img-top" alt="...">
                <div class="card-body fontcolor">
                  <h5 class="card-title">kids Collection</h5>
                  <a href="#" class="btn btn-primary">Shop Now</a>
                </div>
              </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/men.jpg" class="card-img-top" alt="...">
                <div class="card-body fontcolor">
                  <h5 class="card-title">Men's Collection</h5>
                  <a href="#" class="btn btn-primary">Shop Now</a>
                </div>
              </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/women.jfif" class="card-img-top" alt="...">
                <div class="card-body fontcolor">
                  <h5 class="card-title">Women's Collection</h5>
                  <a href="#" class="btn btn-primary">Shop Now</a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class= "offer">
      <div class="row">
          <div class="col-6 fontcolor">
              <p class="heading text-offer">Try out our exiting merchendise</p>
              <span class="font1">
                Clothing serves many purposes: it can serve as protection from the elements, rough surfaces, rash-causing plants, insect bites, splinters, thorns and prickles by providing a barrier between the skin and the environment. Clothes can insulate against cold or hot conditions, and they can provide a hygienic barrier, keeping infectious and toxic materials away from the body. Clothing also provides protection from ultraviolet radiation.
              </span>
              <hr>
              <p class="font1">
                Clothing serves many purposes: it can serve as protection from the elements, rough surfaces, rash-causing plants, insect bites, splinters, thorns and prickles by providing a barrier between the skin and the environment. Clothes can insulate against cold or hot conditions, and they can provide a hygienic barrier, keeping infectious and toxic materials away from the body. Clothing also provides protection from ultraviolet radiation.
 
              </p>
          </div>
          <div class="col-6 image-offer">
              <img src="../../assets/men.jpg" class="d-block w-100" alt="..."/>
          </div>
      </div>
  </div>
</section>